/* Add application styles & imports to this file! */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
 font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 400;
}
.row {
  margin-top: 10px; 
}